In [ ]:
s="falafal"

In [28]:
s = "))(((()((("

In [43]:
s[::-1]

'((((())'

In [138]:
students = [0, 1, 1, 1, 1, 1, 0] 
sandwiches = [0, 1, 0, 1, 1, 1, 0]

students = [0,0,0,1,0,1,1,1,1,0,1]
sandwiches = [0,0,0,1,0,0,0,0,0,1,0]

In [142]:
m

{0: 5, 1: 6}

In [145]:
m

5

In [141]:
m = {}
for student in students:
    m[student] = m.get(student, 0) + 1
# for sandwich in sandwiches:
#     if sandwich in m and m[sandwich] > 0:
#         m[sandwich] -= 1
#     else:
#         print(sum(m.values()))
#         break

In [135]:
no_of_sw = len(sandwiches)
round_s  = len(students)
shift_val = 0
round_student = students
while no_of_sw>=0:
    while len(round_student)>=shift_val:
        print(round_student,shift_val-1,sandwiches)
        if round_student[0]==sandwiches[0]:
            sandwiches.pop(0)
            round_student.pop(0)
            no_of_sw = no_of_sw - 1
            shift_val = 0
        
        # round_student = round_student[-shift_val:]+round_student[:-shift_val]
        round_student.append(round_student.pop(0))
        shift_val = shift_val + 1
    no_of_sw = no_of_sw - 1
# return len(round_student)

[0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1] -1 [0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]
[0, 1, 0, 1, 1, 1, 1, 0, 1, 0] 0 [0, 0, 1, 0, 0, 0, 0, 0, 1, 0]
[0, 1, 1, 1, 1, 0, 1, 0, 1] 0 [0, 1, 0, 0, 0, 0, 0, 1, 0]
[1, 1, 1, 0, 1, 0, 1, 1] 0 [1, 0, 0, 0, 0, 0, 1, 0]
[1, 0, 1, 0, 1, 1, 1] 0 [0, 0, 0, 0, 0, 1, 0]
[0, 1, 0, 1, 1, 1, 1] 1 [0, 0, 0, 0, 0, 1, 0]
[0, 1, 1, 1, 1, 1] 0 [0, 0, 0, 0, 1, 0]
[1, 1, 1, 1, 1] 0 [0, 0, 0, 1, 0]
[1, 1, 1, 1, 1] 1 [0, 0, 0, 1, 0]
[1, 1, 1, 1, 1] 2 [0, 0, 0, 1, 0]
[1, 1, 1, 1, 1] 3 [0, 0, 0, 1, 0]
[1, 1, 1, 1, 1] 4 [0, 0, 0, 1, 0]

In [115]:
test = [1, 1, 1, 1, 0, 1]
n = 0
while n<=len(test):
    print(test[-n:]+test[:-n])
    n = n + 1

[1, 1, 1, 1, 0, 1]
[1, 1, 1, 1, 1, 0]
[0, 1, 1, 1, 1, 1]
[1, 0, 1, 1, 1, 1]
[1, 1, 0, 1, 1, 1]
[1, 1, 1, 0, 1, 1]
[1, 1, 1, 1, 0, 1]

In [114]:
n

1

In [93]:
students=[1,2,3,4]
shift_val = 2

In [94]:
round_student = students[shift_val:]+students[:shift_val]

In [95]:
round_student

[3, 4, 1, 2]

In [44]:
# s=s[::-1]

In [86]:
s = "(((((*(()((((*((**(((()()*)()()()*((((**)())*)*)))))))(())(()))())((*()()(((()((()*(())*(()**)()(())"
op = '('
cl = ')'
l = len(s)
i = 0
op_c = 0
cl_c = 0
lo = []
var = 0
for idx,char in enumerate(s):
    print(char,idx,lo,op_c,cl_c)
    if char==cl:
        cl_c = cl_c + 1
        if op_c<=0:
            lo.append(idx)
            cl_c = cl_c - 1
        elif op_c<cl_c :
            lo.append(idx)
            cl_c = cl_c - 1
        else:
            lo.pop()

    if char==op:
        lo.append(idx)
        op_c = op_c + 1
    if "*"==char:
        var = var + 1

if len(lo)<=var or var==1:
    print(True)
# new_char = ""
# for idx, char in enumerate(s):
#     if idx not in lo:
#         new_char= new_char+char
# new_char

( 0 [] 0 0
( 1 [0] 1 0
( 2 [0, 1] 2 0
( 3 [0, 1, 2] 3 0
( 4 [0, 1, 2, 3] 4 0
* 5 [0, 1, 2, 3, 4] 5 0
( 6 [0, 1, 2, 3, 4] 5 0
( 7 [0, 1, 2, 3, 4, 6] 6 0
) 8 [0, 1, 2, 3, 4, 6, 7] 7 0
( 9 [0, 1, 2, 3, 4, 6] 7 1
( 10 [0, 1, 2, 3, 4, 6, 9] 8 1
( 11 [0, 1, 2, 3, 4, 6, 9, 10] 9 1
( 12 [0, 1, 2, 3, 4, 6, 9, 10, 11] 10 1
* 13 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12] 11 1
( 14 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12] 11 1
( 15 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14] 12 1
* 16 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15] 13 1
* 17 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15] 13 1
( 18 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15] 13 1
( 19 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18] 14 1
( 20 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 15 1
( 21 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20] 16 1
) 22 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20, 21] 17 1
( 23 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20] 17 2
) 24 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20, 23] 18 2
* 25 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20] 18 3
) 26 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 20] 18 3
( 27 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 18 4
) 28 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 27] 19 4
( 29 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 19 5
) 30 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 29] 20 5
( 31 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 20 6
) 32 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 31] 21 6
* 33 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 21 7
( 34 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 21 7
( 35 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34] 22 7
( 36 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35] 23 7
( 37 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36] 24 7
* 38 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36, 37] 25 7
* 39 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36, 37] 25 7
) 40 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36, 37] 25 7
( 41 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36] 25 8
) 42 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36, 41] 26 8
) 43 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35, 36] 26 9
* 44 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35] 26 10
) 45 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34, 35] 26 10
* 46 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34] 26 11
) 47 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19, 34] 26 11
) 48 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18, 19] 26 12
) 49 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 18] 26 13
) 50 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15] 26 14
) 51 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12, 14] 26 15
) 52 [0, 1, 2, 3, 4, 6, 9, 10, 11, 12] 26 16
) 53 [0, 1, 2, 3, 4, 6, 9, 10, 11] 26 17
( 54 [0, 1, 2, 3, 4, 6, 9, 10] 26 18
( 55 [0, 1, 2, 3, 4, 6, 9, 10, 54] 27 18
) 56 [0, 1, 2, 3, 4, 6, 9, 10, 54, 55] 28 18
) 57 [0, 1, 2, 3, 4, 6, 9, 10, 54] 28 19
( 58 [0, 1, 2, 3, 4, 6, 9, 10] 28 20
( 59 [0, 1, 2, 3, 4, 6, 9, 10, 58] 29 20
) 60 [0, 1, 2, 3, 4, 6, 9, 10, 58, 59] 30 20
) 61 [0, 1, 2, 3, 4, 6, 9, 10, 58] 30 21
) 62 [0, 1, 2, 3, 4, 6, 9, 10] 30 22
( 63 [0, 1, 2, 3, 4, 6, 9] 30 23
) 64 [0, 1, 2, 3, 4, 6, 9, 63] 31 23
) 65 [0, 1, 2, 3, 4, 6, 9] 31 24
( 66 [0, 1, 2, 3, 4, 6] 31 25
( 67 [0, 1, 2, 3, 4, 6, 66] 32 25
* 68 [0, 1, 2, 3, 4, 6, 66, 67] 33 25
( 69 [0, 1, 2, 3, 4, 6, 66, 67] 33 25
) 70 [0, 1, 2, 3, 4, 6, 66, 67, 69] 34 25
( 71 [0, 1, 2, 3, 4, 6, 66, 67] 34 26
) 72 [0, 1, 2, 3, 4, 6, 66, 67, 71] 35 26
( 73 [0, 1, 2, 3, 4, 6, 66, 67] 35 27
( 74 [0, 1, 2, 3, 4, 6, 66, 67, 73] 36 27
( 75 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74] 37 27
( 76 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75] 38 27
) 77 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 76] 39 27
( 78 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75] 39 28
( 79 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78] 40 28
( 80 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 41 28
) 81 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 80] 42 28
* 82 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 42 29
( 83 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 42 29
( 84 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 83] 43 29
) 85 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 83, 84] 44 29
) 86 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 83] 44 30
* 87 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 44 31
( 88 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 44 31
( 89 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 88] 45 31
) 90 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 88, 89] 46 31
* 91 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 88] 46 32
* 92 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 88] 46 32
) 93 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 88] 46 32
( 94 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 46 33
) 95 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 94] 47 33
( 96 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79] 47 34
( 97 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 96] 48 34
) 98 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 96, 97] 49 34
) 99 [0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79, 96] 49 35
True

In [87]:
var

15

In [89]:
lo,len(lo)

([0, 1, 2, 3, 4, 6, 66, 67, 73, 74, 75, 78, 79], 13)

In [78]:
lo

[3]

In [51]:
s = "))(((()((("
op = '('
cl = ')'
l = len(s)
i = 0
op_c = 0
cl_c = 0
lo = []
while l>=0:
    print(s[i],"strat")
    flg=0
    if s[i] == op:
        op_c = op_c + 1
        lo.append(i)
    if s[i] == cl:
        cl_c = cl_c + 1
        if len(lo)>0:
            lo.pop()
    if cl_c>op_c:
        print("here",s[:i])
        lo.append(i)
        i = i - 1
        l = l - 1
        # cl_c = cl_c - 1
    



    if len(s)<i:
        print("")
        break
    else:
        print(s)

    i = i + 1
    l = l - 1

for idx,j in enumerate(s):
    for o in lo:
        if idx==o and j==op:
            s = s[:idx]+s[idx+1:]

) strat
here
))(((()(((
) strat
here
))(((()(((
) strat
here
))(((()(((
) strat
here
))(((()(((
) strat
here
))(((()(((
) strat
here
))(((()(((

In [46]:
lo

[0]

In [42]:
s[::-1],s

('((((())', '))(((((')

In [103]:
op_c,cl_c

(0, 2)

In [5]:
len(s)

13

In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
select 
cast(concat(YEAR,'-',MONTH,'-',DAY) as DATE) as DATE
,cast(concat(YEAR,'-',MONTH,'-',DAY,
' ',SUBSTR(SCHEDULED_DEPARTURE,0,2),':',SUBSTR(SCHEDULED_DEPARTURE,3,4)
) as DATETIME) as SCHEDULED_DEPARTURE
,cast(concat(YEAR,'-',MONTH,'-',DAY,
' ',SUBSTR(DEPARTURE_TIME,0,2),':',SUBSTR(DEPARTURE_TIME,3,4)
) as DATETIME) as DEPARTURE_TIME
-- ,cast(concat(YEAR,'-',MONTH,'-',DAY,
-- ' ',SUBSTR(SCHEDULED_TIME,0,2),':',SUBSTR(DEPARTURE_TIME,3,4)
-- ) as DATETIME) as SCHEDULED_TIME
,*
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS
limit 100;

In [ ]:
--  query for dup check on primary key / unique key
select 
YEAR,
MONTH,
DAY,
FLIGHT_NUMBER,
AIRLINE,
ORIGIN_AIRPORT,
DESTINATION_AIRPORT,
count(*)
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS
group by
YEAR,
MONTH,
DAY,
FLIGHT_NUMBER,
AIRLINE,
ORIGIN_AIRPORT,
DESTINATION_AIRPORT
having count(*)>1

In [ ]:
-- Helpful query for partition key / cluster key
select 
YEAR,
MONTH,
count(*)
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS
group by
YEAR,
MONTH
--having count(*)>1

In [ ]:
---
Create  table PH_DATA.NORTHWOODS.FLIGHTS
cluster by LINEAR(YEAR,MONTH)
(
YEAR NUMBER(38,0) NOT NULL,
	MONTH NUMBER(38,0) NOT NULL,
	DAY NUMBER(38,0) NOT NULL,
	DAY_OF_WEEK NUMBER(38,0),
	AIRLINE VARCHAR(16777216) NOT NULL,
	FLIGHT_NUMBER VARCHAR(16777216) NOT NULL,
	TAIL_NUMBER VARCHAR(16777216),
	ORIGIN_AIRPORT VARCHAR(16777216) NOT NULL,
	DESTINATION_AIRPORT VARCHAR(16777216) NOT NULL,
	SCHEDULED_DEPARTURE VARCHAR(16777216),
	DEPARTURE_TIME VARCHAR(16777216),
	DEPARTURE_DELAY NUMBER(38,0),
	TAXI_OUT NUMBER(38,0),
	WHEELS_OFF VARCHAR(16777216),
	SCHEDULED_TIME NUMBER(38,0),
	ELAPSED_TIME NUMBER(38,0),
	AIR_TIME NUMBER(38,0),
	DISTANCE NUMBER(38,0),
	WHEELS_ON NUMBER(38,0),
	TAXI_IN NUMBER(38,0),
	SCHEDULED_ARRIVAL NUMBER(38,0),
	ARRIVAL_TIME VARCHAR(16777216),
	ARRIVAL_DELAY VARCHAR(16777216),
	DIVERTED NUMBER(38,0),
	CANCELLED NUMBER(38,0),
	CANCELLATION_REASON VARCHAR(16777216),
	AIR_SYSTEM_DELAY NUMBER(38,0),
	SECURITY_DELAY NUMBER(38,0),
	AIRLINE_DELAY NUMBER(38,0),
	LATE_AIRCRAFT_DELAY NUMBER(38,0),
	WEATHER_DELAY NUMBER(38,0),
    CONSTRAINT PK_FLIGHTS_KEY PRIMARY KEY (YEAR,
                                            MONTH,
                                            DAY,
                                            FLIGHT_NUMBER,
                                            AIRLINE,
                                            ORIGIN_AIRPORT,
                                            DESTINATION_AIRPORT)
    , CONSTRAINT FK_FLIGHTS_KEY_AIRLINE FOREIGN KEY (AIRLINE) REFERENCES PH_DATA.NORTHWOODS.AIRLINES(IATA_CODE)
    , CONSTRAINT FK_FLIGHTS_KEY_ORIGIN_AIRPORTS FOREIGN KEY (ORIGIN_AIRPORT) REFERENCES PH_DATA.NORTHWOODS.AIRPORTS(IATA_CODE)
    , CONSTRAINT FK_FLIGHTS_KEY_DESTINATION_AIRPORTS FOREIGN KEY (DESTINATION_AIRPORT) REFERENCES PH_DATA.NORTHWOODS.AIRPORTS(IATA_CODE)
            
);

In [ ]:
select *

From INFORMATION_SCHEMA.COLUMNS As C
limit 20;

In [ ]:
use database PH_DATA;
use schema NORTHWOODS;
Select T.TABLE_NAME,
listagg(
(case when 
DATA_TYPE='FLOAT' then 
concat(  
', \n',
-- C.COLUMN_NAME 
--,'!= 
'try_to_decimal(src.',C.COLUMN_NAME,',38,10 ) '
)
when 
DATA_TYPE='NUMBER' then
concat(
', \n',
--C.COLUMN_NAME 
--,'!= 
'try_to_number(src.',C.COLUMN_NAME,',38,10 ) '
)
else
concat( 
', \n',
--C.COLUMN_NAME 
--,'!= 
'src.',C.COLUMN_NAME,''
)
end
)
)

        From (select * from INFORMATION_SCHEMA.COLUMNS
        order by COLUMN_NAME,ORDINAL_POSITION) As C
        join
        INFORMATION_SCHEMA.TABLES As T
        Where C.TABLE_SCHEMA = T.TABLE_SCHEMA
            And C.TABLE_NAME = T.TABLE_NAME
            group by
            T.TABLE_NAME
        --Order By C.ORDINAL_POSITION


        ;
-- Select TABLE_SCHEMA, TABLE_NAME
--     , 
--         (
--         Select ', ' + C.COLUMN_NAME
--         From INFORMATION_SCHEMA.COLUMNS As C
--         Where C.TABLE_SCHEMA = T.TABLE_SCHEMA
--             And C.TABLE_NAME = T.TABLE_NAME
--         Order By C.ORDINAL_POSITION

--         ) As Columns
-- From INFORMATION_SCHEMA.TABLES As T

In [ ]:
create  TABLE FLIGHTS (
	YEAR VARCHAR(16777216),
	MONTH VARCHAR(16777216),
	DAY VARCHAR(16777216),
	DAY_OF_WEEK VARCHAR(16777216),
	AIRLINE VARCHAR(16777216),
	FLIGHT_NUMBER VARCHAR(16777216),
	TAIL_NUMBER VARCHAR(16777216),
	ORIGIN_AIRPORT VARCHAR(16777216),
	DESTINATION_AIRPORT VARCHAR(16777216),
	SCHEDULED_DEPARTURE VARCHAR(16777216),
	DEPARTURE_TIME VARCHAR(16777216),
	DEPARTURE_DELAY VARCHAR(16777216),
	TAXI_OUT VARCHAR(16777216),
	WHEELS_OFF VARCHAR(16777216),
	SCHEDULED_TIME VARCHAR(16777216),
	ELAPSED_TIME VARCHAR(16777216),
	AIR_TIME VARCHAR(16777216),
	DISTANCE VARCHAR(16777216),
	WHEELS_ON VARCHAR(16777216),
	TAXI_IN VARCHAR(16777216),
	SCHEDULED_ARRIVAL VARCHAR(16777216),
	ARRIVAL_TIME VARCHAR(16777216),
	ARRIVAL_DELAY VARCHAR(16777216),
	DIVERTED VARCHAR(16777216),
	CANCELLED VARCHAR(16777216),
	CANCELLATION_REASON VARCHAR(16777216),
	AIR_SYSTEM_DELAY VARCHAR(16777216),
	SECURITY_DELAY VARCHAR(16777216),
	AIRLINE_DELAY VARCHAR(16777216),
	LATE_AIRCRAFT_DELAY VARCHAR(16777216),
	WEATHER_DELAY VARCHAR(16777216)
;;;kkppp);

In [ ]:
, DIVERTED= try_to_number(src.DIVERTED,38,10 ) 
, DAY_OF_WEEK= try_to_number(src.DAY_OF_WEEK,38,10 ) 
, WEATHER_DELAY= try_to_number(src.WEATHER_DELAY,38,10 ) 
, CANCELLED= try_to_number(src.CANCELLED,38,10 ) 
, DEPARTURE_DELAY= try_to_number(src.DEPARTURE_DELAY,38,10 ) 
, SCHEDULED_ARRIVAL= try_to_number(src.SCHEDULED_ARRIVAL,38,10 ) 
, TAXI_OUT= try_to_number(src.TAXI_OUT,38,10 ) 
, DESTINATION_AIRPORT= src.DESTINATION_AIRPORT 
, SCHEDULED_TIME= try_to_number(src.SCHEDULED_TIME,38,10 ) 
, DISTANCE= try_to_number(src.DISTANCE,38,10 ) 
, TAIL_NUMBER= src.TAIL_NUMBER 
, AIR_TIME= try_to_number(src.AIR_TIME,38,10 ) 
, ARRIVAL_DELAY= src.ARRIVAL_DELAY 
, SCHEDULED_DEPARTURE= src.SCHEDULED_DEPARTURE 
, LATE_AIRCRAFT_DELAY= try_to_number(src.LATE_AIRCRAFT_DELAY,38,10 ) 
, YEAR= try_to_number(src.YEAR,38,10 ) 
, AIR_SYSTEM_DELAY= try_to_number(src.AIR_SYSTEM_DELAY,38,10 ) 
, CANCELLATION_REASON= src.CANCELLATION_REASON 
, ARRIVAL_TIME= src.ARRIVAL_TIME 
, SECURITY_DELAY= try_to_number(src.SECURITY_DELAY,38,10 ) 
, MONTH= try_to_number(src.MONTH,38,10 ) 
, ORIGIN_AIRPORT= src.ORIGIN_AIRPORT 
, DEPARTURE_TIME= src.DEPARTURE_TIME 
, WHEELS_ON= try_to_number(src.WHEELS_ON,38,10 ) 
, ELAPSED_TIME= try_to_number(src.ELAPSED_TIME,38,10 ) 
, AIRLINE= src.AIRLINE 
, WHEELS_OFF= src.WHEELS_OFF 
, AIRLINE_DELAY= try_to_number(src.AIRLINE_DELAY,38,10 ) 
, TAXI_IN= try_to_number(src.TAXI_IN,38,10 ) 
, DAY= try_to_number(src.DAY,38,10 ) 
, FLIGHT_NUMBER= src.FLIGHT_NUMBER

In [ ]:
, MONTH= src.MONTH
, WHEELS_ON= src.WHEELS_ON
, ORIGIN_AIRPORT= src.ORIGIN_AIRPORT
, WHEELS_OFF= src.WHEELS_OFF
, AIRLINE_DELAY= src.AIRLINE_DELAY
, DEPARTURE_TIME= src.DEPARTURE_TIME
, AIRLINE= src.AIRLINE
, ELAPSED_TIME= src.ELAPSED_TIME
, TAXI_OUT= src.TAXI_OUT
, DESTINATION_AIRPORT= src.DESTINATION_AIRPORT
, DISTANCE= src.DISTANCE
, SCHEDULED_TIME= src.SCHEDULED_TIME
, LATE_AIRCRAFT_DELAY= src.LATE_AIRCRAFT_DELAY
, YEAR= src.YEAR
, ARRIVAL_DELAY= src.ARRIVAL_DELAY
, AIR_SYSTEM_DELAY= src.AIR_SYSTEM_DELAY
, SCHEDULED_DEPARTURE= src.SCHEDULED_DEPARTURE
, TAXI_IN= src.TAXI_IN
, DAY= src.DAY
, FLIGHT_NUMBER= src.FLIGHT_NUMBER
, WEATHER_DELAY= src.WEATHER_DELAY
, DAY_OF_WEEK= src.DAY_OF_WEEK
, SCHEDULED_ARRIVAL= src.SCHEDULED_ARRIVAL
, CANCELLED= src.CANCELLED
, DEPARTURE_DELAY= src.DEPARTURE_DELAY
, DIVERTED= src.DIVERTED
, TAIL_NUMBER= src.TAIL_NUMBER
, AIR_TIME= src.AIR_TIME
, SECURITY_DELAY= src.SECURITY_DELAY
, CANCELLATION_REASON= src.CANCELLATION_REASON
, ARRIVAL_TIME= src.ARRIVAL_TIME

In [ ]:
-- create  TABLE PH_DATA.NORTHWOODS.AIRLINES ( 	
-- AIRLINE VARCHAR(16777216), 	IATA_CODE VARCHAR(16777216) 
-- );

In [ ]:
create or replace TABLE PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES ( 	
AIRLINE VARCHAR(16777216), 	IATA_CODE VARCHAR(16777216) 
;;;);

In [ ]:
create  TABLE PH_DATA.NORTHWOODS.AIRLINES ( 	
AIRLINE VARCHAR(16777216), 	IATA_CODE VARCHAR(16777216) ,
CONSTRAINT PK_AIRLINES_KEY PRIMARY KEY (IATA_CODE)
);

In [ ]:
create  TABLE PH_DATA.NORTHWOODS.AIRPORTS (
	IATA_CODE VARCHAR(16777216),
	AIRPORT VARCHAR(16777216),
	CITY VARCHAR(16777216),
	STATE VARCHAR(16777216),
	COUNTRY VARCHAR(16777216),
	LATITUDE FLOAT,
	LONGITUDE FLOAT,
    CONSTRAINT PK_AIRPORTS_KEY PRIMARY KEY (IATA_CODE)
);

In [ ]:
select
--distinct cast(src.LATITUDE as float) LATITUDE
--,
try_to_decimal(src.LATITUDE,38,37 ),
try_to_number(src.LATITUDE,38,37 ),
LATITUDE,
-- to_char(substr(LATITUDE,0, 39)::number(38, 37),'9.9999999999999999999999999999999999999'),
NVL(LATITUDE,null),
-- to_char(substr(
-- (
-- case when 
-- try_to_decimal(src.LATITUDE,20,10 ) is not null
-- and LATITUDE is not null
-- then 
-- LATITUDE else null end 
-- )
-- ,0, 39)::number(38, 37),'9.9999999999999999999999999999999999999'),
NVL(
cast(
(
case when 
try_to_decimal(src.LATITUDE,20,10 ) is not null
and LATITUDE is not null
then 
NVL(LATITUDE,null) else null end 
)
as
number(38,35)
)
,null)
,
case when LATITUDE=cast(try_to_decimal(src.LATITUDE,20,10 ) as varchar) then
'okay' else 'issue' end
from
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS src
-- where 
-- try_to_decimal(src.LATITUDE,20,10 ) is null
-- and LATITUDE is not null

In [ ]:
create  TABLE PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS (
	IATA_CODE VARCHAR(16777216),
	AIRPORT VARCHAR(16777216),
	CITY VARCHAR(16777216),
	STATE VARCHAR(16777216),
	COUNTRY VARCHAR(16777216),
	LATITUDE VARCHAR(16777216),
	-- LONGITUDE VARCHAR(16777216)
);

In [ ]:
select get_ddl('table','PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS')

In [ ]:
Update PH_DATA.NORTHWOODS.AIRLINES
set AIRLINE=src.AIRLINE
from 
PH_DATA.NORTHWOODS.AIRLINES tgt
right join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES src
on src.IATA_CODE=tgt.IATA_CODE
where
src.AIRLINE!=tgt.AIRLINE
;

Insert into PH_DATA.NORTHWOODS.AIRLINES
(
IATA_CODE,
AIRLINE
)

select 
src.IATA_CODE,
src.AIRLINE
from
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES src
where src.IATA_CODE not in (
select tgt.IATA_CODE
from
PH_DATA.NORTHWOODS.AIRLINES tgt
)

;
select *
from
PH_DATA.NORTHWOODS.AIRLINES

In [ ]:
Update PH_DATA.NORTHWOODS.AIRPORTS
set 
AIRPORT=src.AIRPORT,
CITY =src.CITY,
STATE =src.STATE,
COUNTRY =src.COUNTRY,
LATITUDE =try_to_decimal(src.LATITUDE,38,10 ),
LONGITUDE =try_to_decimal(src.LONGITUDE,38,10 )
from 
PH_DATA.NORTHWOODS.AIRPORTS tgt
right join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS src
on src.IATA_CODE=tgt.IATA_CODE
where
(src.AIRPORT!=tgt.AIRPORT
or 
src.CITY!=tgt.CITY
or
src.STATE!=tgt.STATE
or
src.COUNTRY!=tgt.COUNTRY
or
src.AIRPORT!=tgt.AIRPORT
or
try_to_decimal(src.LATITUDE,38,10 )!=tgt.LATITUDE
or
try_to_decimal(src.LONGITUDE,38,10 )!=tgt.LONGITUDE
)
;

Insert into PH_DATA.NORTHWOODS.AIRPORTS
(
IATA_CODE,
AIRPORT,
CITY ,
STATE,
COUNTRY ,
LATITUDE ,
LONGITUDE 
)
select 
src.IATA_CODE,
src.AIRPORT,
src.CITY ,
src.STATE,
src.COUNTRY ,
try_to_decimal(src.LATITUDE,38,10 ) LATITUDE,
try_to_decimal(src.LONGITUDE,38,10 ) LONGITUDE
from
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS src
where src.IATA_CODE not in (
select tgt.IATA_CODE
from
PH_DATA.NORTHWOODS.AIRPORTS tgt
)

;

In [ ]:
Update PH_DATA.NORTHWOODS.FLIGHTS
set 
  DIVERTED= try_to_number(src.DIVERTED,38,10 ) 
, DAY_OF_WEEK= try_to_number(src.DAY_OF_WEEK,38,10 ) 
, WEATHER_DELAY= try_to_number(src.WEATHER_DELAY,38,10 ) 
, CANCELLED= try_to_number(src.CANCELLED,38,10 ) 
, DEPARTURE_DELAY= try_to_number(src.DEPARTURE_DELAY,38,10 ) 
, SCHEDULED_ARRIVAL= try_to_number(src.SCHEDULED_ARRIVAL,38,10 ) 
, TAXI_OUT= try_to_number(src.TAXI_OUT,38,10 ) 
, DESTINATION_AIRPORT= src.DESTINATION_AIRPORT 
, SCHEDULED_TIME= try_to_number(src.SCHEDULED_TIME,38,10 ) 
, DISTANCE= try_to_number(src.DISTANCE,38,10 ) 
, TAIL_NUMBER= src.TAIL_NUMBER 
, AIR_TIME= try_to_number(src.AIR_TIME,38,10 ) 
, ARRIVAL_DELAY= src.ARRIVAL_DELAY 
, SCHEDULED_DEPARTURE= src.SCHEDULED_DEPARTURE 
, LATE_AIRCRAFT_DELAY= try_to_number(src.LATE_AIRCRAFT_DELAY,38,10 ) 
, YEAR= try_to_number(src.YEAR,38,10 ) 
, AIR_SYSTEM_DELAY= try_to_number(src.AIR_SYSTEM_DELAY,38,10 ) 
, CANCELLATION_REASON= src.CANCELLATION_REASON 
, ARRIVAL_TIME= src.ARRIVAL_TIME 
, SECURITY_DELAY= try_to_number(src.SECURITY_DELAY,38,10 ) 
, MONTH= try_to_number(src.MONTH,38,10 ) 
, ORIGIN_AIRPORT= src.ORIGIN_AIRPORT 
, DEPARTURE_TIME= src.DEPARTURE_TIME 
, WHEELS_ON= try_to_number(src.WHEELS_ON,38,10 ) 
, ELAPSED_TIME= try_to_number(src.ELAPSED_TIME,38,10 ) 
, AIRLINE= src.AIRLINE 
, WHEELS_OFF= src.WHEELS_OFF 
, AIRLINE_DELAY= try_to_number(src.AIRLINE_DELAY,38,10 ) 
, TAXI_IN= try_to_number(src.TAXI_IN,38,10 ) 
, DAY= try_to_number(src.DAY,38,10 ) 
, FLIGHT_NUMBER= src.FLIGHT_NUMBER 
from 
PH_DATA.NORTHWOODS.FLIGHTS tgt
right join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS src
on src.YEAR=tgt.YEAR
and src.MONTH=tgt.MONTH
and src.DAY=tgt.DAY
and src.FLIGHT_NUMBER=tgt.FLIGHT_NUMBER
and src.AIRLINE=tgt.AIRLINE
and src.ORIGIN_AIRPORT=tgt.ORIGIN_AIRPORT
and src.DESTINATION_AIRPORT=tgt.DESTINATION_AIRPORT
where
(
tgt.AIR_TIME!= try_to_number(src.AIR_TIME,38,10 ) or 
tgt.TAIL_NUMBER!= src.TAIL_NUMBER or
tgt.LATE_AIRCRAFT_DELAY!= try_to_number(src.LATE_AIRCRAFT_DELAY,38,10 ) or 
tgt.SCHEDULED_DEPARTURE!= src.SCHEDULED_DEPARTURE or
tgt.ARRIVAL_DELAY!= src.ARRIVAL_DELAY or
tgt.AIR_SYSTEM_DELAY!= try_to_number(src.AIR_SYSTEM_DELAY,38,10 ) or 
tgt.SCHEDULED_ARRIVAL!= try_to_number(src.SCHEDULED_ARRIVAL,38,10 ) or 
tgt.WEATHER_DELAY!= try_to_number(src.WEATHER_DELAY,38,10 ) or 
tgt.DAY_OF_WEEK!= try_to_number(src.DAY_OF_WEEK,38,10 ) or 
tgt.CANCELLED!= try_to_number(src.CANCELLED,38,10 ) or 
tgt.DEPARTURE_DELAY!= try_to_number(src.DEPARTURE_DELAY,38,10 ) or 
tgt.DISTANCE!= try_to_number(src.DISTANCE,38,10 ) or 
tgt.TAXI_OUT!= try_to_number(src.TAXI_OUT,38,10 ) or 
tgt.SCHEDULED_TIME!= try_to_number(src.SCHEDULED_TIME,38,10 ) or 
tgt.WHEELS_ON!= try_to_number(src.WHEELS_ON,38,10 ) or 
tgt.DEPARTURE_TIME!= src.DEPARTURE_TIME or
tgt.WHEELS_OFF!= src.WHEELS_OFF or
tgt.AIRLINE_DELAY!= try_to_number(src.AIRLINE_DELAY,38,10 ) or 
tgt.ELAPSED_TIME!= try_to_number(src.ELAPSED_TIME,38,10 ) or 
tgt.TAXI_IN!= try_to_number(src.TAXI_IN,38,10 ) or 
tgt.DIVERTED!= try_to_number(src.DIVERTED,38,10 ) or 
tgt.SECURITY_DELAY!= try_to_number(src.SECURITY_DELAY,38,10 ) or 
tgt.CANCELLATION_REASON!= src.CANCELLATION_REASON or
tgt.ARRIVAL_TIME!= src.ARRIVAL_TIME 

)
;

Insert into PH_DATA.NORTHWOODS.FLIGHTS
(
AIRLINE, 
AIRLINE_DELAY, 
AIR_SYSTEM_DELAY, 
AIR_TIME, 
ARRIVAL_DELAY, 
ARRIVAL_TIME, 
CANCELLATION_REASON, 
CANCELLED, 
DAY, 
DAY_OF_WEEK, 
DEPARTURE_DELAY, 
DEPARTURE_TIME, 
DESTINATION_AIRPORT, 
DISTANCE, 
DIVERTED, 
ELAPSED_TIME, 
FLIGHT_NUMBER, 
ORIGIN_AIRPORT, 
LATE_AIRCRAFT_DELAY, 
MONTH, 
SCHEDULED_ARRIVAL, 
SCHEDULED_DEPARTURE, 
SCHEDULED_TIME, 
SECURITY_DELAY, 
TAIL_NUMBER, 
TAXI_IN, 
TAXI_OUT, 
WEATHER_DELAY, 
WHEELS_OFF, 
WHEELS_ON, 
YEAR
)
select 

src.AIRLINE, 
try_to_number(src.AIRLINE_DELAY,38,10 ) , 
try_to_number(src.AIR_SYSTEM_DELAY,38,10 ) , 
try_to_number(src.AIR_TIME,38,10 ) , 
src.ARRIVAL_DELAY, 
src.ARRIVAL_TIME, 

src.CANCELLATION_REASON, 
try_to_number(src.CANCELLED,38,10 ) ,

try_to_number(src.DAY,38,10 ) , 
try_to_number(src.DAY_OF_WEEK,38,10 ) , 
try_to_number(src.DEPARTURE_DELAY,38,10 ) , 
src.DEPARTURE_TIME, 
src.DESTINATION_AIRPORT, 
try_to_number(src.DISTANCE,38,10 ) , 
try_to_number(src.DIVERTED,38,10 ) , 

try_to_number(src.ELAPSED_TIME,38,10 ) , 
src.FLIGHT_NUMBER, 
src.ORIGIN_AIRPORT,

try_to_number(src.LATE_AIRCRAFT_DELAY,38,10 ) , 
try_to_number(src.MONTH,38,10 ) ,

try_to_number(src.SCHEDULED_ARRIVAL,38,10 ) , 
src.SCHEDULED_DEPARTURE, 
try_to_number(src.SCHEDULED_TIME,38,10 ) , 
try_to_number(src.SECURITY_DELAY,38,10 ) , 
src.TAIL_NUMBER, 
try_to_number(src.TAXI_IN,38,10 ) , 
try_to_number(src.TAXI_OUT,38,10 ) , 
try_to_number(src.WEATHER_DELAY,38,10 ) , 
src.WHEELS_OFF, 
try_to_number(src.WHEELS_ON,38,10 ) , 
try_to_number(src.YEAR,38,10 ) 

 

from
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS src
-- on src.YEAR=tgt.YEAR
-- and src.MONTH=tgt.MONTH
-- and src.DAY=tgt.DAY
-- and src.FLIGHT_NUMBER=tgt.FLIGHT_NUMBER
-- and src.AIRLINE=tgt.AIRLINE
-- and src.ORIGIN_AIRPORT=tgt.ORIGIN_AIRPORT
-- and src.DESTINATION_AIRPORT=tgt.DESTINATION_AIRPORT

where concat(src.YEAR,src.MONTH,src.DAY,src.FLIGHT_NUMBER,src.AIRLINE,src.ORIGIN_AIRPORT,src.DESTINATION_AIRPORT) not in (
select concat(tgt.YEAR,tgt.MONTH,tgt.DAY,tgt.FLIGHT_NUMBER,tgt.AIRLINE,tgt.ORIGIN_AIRPORT,tgt.DESTINATION_AIRPORT)
from
PH_DATA.NORTHWOODS.FLIGHTS tgt
)

;

In [ ]:
select *
from 
PH_DATA.NORTHWOODS.AIRLINES tgt
left join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES src
on tgt.IATA_CODE=src.IATA_CODE

In [ ]:
Insert into PH_DATA.NORTHWOODS.AIRLINES
(
IATA_CODE,
AIRLINE
)
as
(
select 
IATA_CODE,
AIRLINE
from
PH_DATA.NORTHWOODS.AIRLINES tgt
left join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES src
on src.IATA_CODE!=tgt.IATA_CODE
)
;

In [ ]:
(
select 
YEAR,
MONTH,
AIRLINE,
ORIGIN_AIRPORT,
count (distinct (FLIGHT_NUMBER))
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.FLIGHTS
group by
AIRLINE,
ORIGIN_AIRPORT,
YEAR,
MONTH
order by 
YEAR,
MONTH,
AIRLINE,
ORIGIN_AIRPORT
) monthly
left join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES a
on monthly.AIRLINE=a.IATA_CODE
left join
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS a
on monthly.AIRLINE=a.IATA_CODE

In [ ]:
select *
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRLINES
limit 100;

In [ ]:
select *
from 
PH_DATA_RAW.NORTHWOODS_RAW_LAYER.AIRPORTS
limit 100;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ❄️")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills 🥇")

In [ ]:
[14:10] Javin Dolia
Given a table of purchases by date, 
calculate the month-over-month percentage change in revenue.
The output should include the year-month date (YYYY-MM) and 
percentage change, rounded to the 2nd decimal point, 
and sorted from the beginning of the year to the end of the year. 
The percentage change column will be populated from the 2nd month forward 
and can be calculated as ((this month's revenue - last month's revenue) / last month's revenue)*100.
 
Table: sf_transactions
 
[14:10] Javin Dolia
id:int
created_at:datetime
value:int
purchase_id:int

In [ ]:
ym	revenue_diff_pct
2019-01	 
2019-02	-28.56
2019-03	23.35
2019-04	-13.84
2019-05	13.49
2020-01

In [ ]:
ym	val        lag()
2019-01	 10
2019-02	-28.56
2019-03	23.35
2019-04	-13.84
2019-05	13.49
2020-01 20

In [ ]:
{{
    config=(
        materialized = "table",
        id = "ym"
    )
}}
with total_rev as
(
select
YEAR(created_at) as created_year,
MONTH(created_at) as created_month,
concat(created_year,'-',created_month) as ym,
sum(value) as total_value
from
{ref(sf_transactions)}
group by
created_year,
created_month
),
lagg_rev as (
select
   created_year,
   ym,
   total_value,
   lag(total_value,1) over(partition by created_year) as prev_total_val
   from
   total_rev
)


select
ym,
round(((total_value - prev_total_val)/total_value)*100,2) as revenue_diff_pct
from
lagg_rev
order by
ym

In [ ]:
df = spark.read.format("csv").load("feje")

df_size = df.size() #(bytes)

df_size_mb = df_size/1064
num_of_partition = df_size_mb/200

df.repartition(num_of_partition).spark.save("dvdd")

In [ ]:
scd type 2 

RAW

table "sales":
col : sales_id
col : rec_crt_ts
col : active_flg

target

table "sales":
col : sales_id
col : source_rec_crt_ts
col : rec_upd_ts
col : active_flg

In [ ]:
update
target
set
sales_id=source.sales_id,
# target.source_rec_crt_ts = source.rec_crt_ts,
# rec_upd_ts=source.rec_crt_ts
from
source
join
target
on source.sales_id=target.sales_id
and source.rec_crt_ts>target.rec_upd_ts
and source.active_flg=1

In [ ]:
1. How many multiwarehouse is present in SF and credit used by multiwarehouse

In [ ]:
select